.user-body>.col-xs-4{
	width: auto;
}

.card>a>div.inner{
	padding: 10px;
	
}

.profile-user-info {
display: table;
width: 98%;
width: calc(100% - 24px);
margin: 0 auto;
}

.profile-info-row {
display: table-row;
}

.profile-info-name {
text-align: right;
padding: 6px 10px 6px 4px;
font-weight: 400;
color: #667E99;
background-color: transparent;
border-top: 1px dotted #D5E4F1;
display: table-cell;
width: 110px;
vertical-align: middle;
}

.profile-info-value {
display: table-cell;
padding: 6px 4px 6px 6px;
border-top: 1px dotted #D5E4F1;
}

.profile-picture {
border: 1px solid #CCC;
background-color: #FFF;
padding: 4px;
display: inline-block;
max-width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
box-shadow: 1px 1px 1px rgba(0,0,0,.15);
}

.grid2:first-child, .grid3:first-child, .grid4:first-child {
border-left: none;
}

.grid2, .grid3, .grid4 {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: block;
margin: 0 1%;
padding: 0 2%;
float: left;
border-left: 1px solid #E3E3E3;
}

#profile{

	overflow: visible;
}

.grid3 {
    width: 30%;
    padding: 0 2%}

.center, .align-center {
	text-align: center;
}

.hr {
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
    border-top: 1px solid #e3e3e3;
    margin: 12px 0;
}

.hr-16, .hr16 {
    margin: 16px 0;
}

.profile{
	padding: 20px;
}

#user-profile-2{

	background-color: white;
}

.widget-box.transparent>.widget-header {
background: 0 0;
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-width: 0;
border-bottom: 1px solid #DCE8F1;
color: #4383B4;
padding-left: 3px;
}

.widget-main {
padding: 12px;
}

.progress-bar>span{
	padding-left: 10px;
}

.small-box>a{
	color: white;
}